<ion-view view-title="{{articles[whicharticles].title}}">
    <ion-content>
        <ion-list class="list-inset">
            <ion-item class="item-text-wrap">
                <img ng-src="img/{{articles[whicharticles].shortname}}_tn.jpg" alt="Photo of {{articles[whicharticles].title}}">
                <h2>{{articles[whicharticles].title}}</h2>
                <h3>{{articles[whicharticles].reknown}}</h3>
                <p>{{articles[whicharticles].body }}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>