<ion-tabs class="tabs-icon-top tabs-assertive">

    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Articles" icon="ion-ios-people" href="#/tab/list">
        <ion-nav-view name="list-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Tweet News" icon="ion-social-twitter" href="#/tab/tweet">
        <ion-nav-view name="tweet-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Chat" icon="ion-chatbox" href="#/tab/chats">
        <ion-nav-view name="chats-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="login" icon="ion-unlocked" href="#/tab/login">
        <ion-nav-view name="login-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Calendar" icon="ion-calendar" href="#/tab/calendar">
        <ion-nav-view name="calendar-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>