/* Empty. Add your own CSS if you like */

.star>.item-content{
    background-color: #EEE8D6 !important;
}

/*.splash {*/
    /*/!*makes it go full screen regardless of the browser or the width of the browser*!/*/
    /*/!*background: url("../img/field.jpeg") no-repeat center center fixed;*!/*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

.branding{
    /*width of 50% of the browser window*/
    width:50%;
    /*center*/
    margin: 0 auto;
    /*so that the logo never gets bigger then 200px*/
    max-width: 200px;
    margin-top: 100px;
    text-align: center;
}

#dfs{
    font-family:sans-serif;
}

/* login page-controls the ion content*/
.login{
    padding-top: 50%;
    background: url("../img/skyline.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*controls the header 2 tag and also the p tag*/
.sign{
    text-align: center;
}

#signin{
    text-align: center;
}

.tagline{
    color: white;
    background-color: #FFC900;
    font-size: 20px;
}

#bgvid{
    position: fixed;

    top: 50%;

    left: 50%;

    min-width: 100%;

    min-height: 100%;

    width: auto;

    height: auto;

    z-index: -100;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);

    background: url(http://video.webmfiles.org/big-buck-bunny_trailer.webm) no-repeat;

    background-size: cover;;
}